<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card-body">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.email_field :email, class: "form-control" %>
    </div>
  </div>

  <%# Nanti di sini ada JS dan field lain yang bisa menambah order-orderan %>
  <div>
    <%= form.submit "Create Order" %>
  </div>
<% end %>
