<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Form Pengisian Laporan berdasarkan email</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <div class="card-body">
                <div class="form-group">
                <%= form_with url: "/reports/detail/by_date", method: :get do |form| %>
                    <%= form.label :date_begin %>
                    <%= form.date_field :date_begin, class: "form-control" %>
                    <%= form.label :date_end %>
                    <%= form.date_field :date_end, class: "form-control" %>
                    <%= form.submit "Search" %>
                <% end %>

                </div>
              </div>
            </div>
            <!-- /.card -->
          </div>
          <%= link_to "Back to menus", {controller: "menus", action: "index"}, class: "btn btn-large btn-info" %>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>